!!!
%html
	%head
		%title Baby Draco Client | Client Domain Test
	%body
		%script{type: "text/javascript", src: "vendor/jquery-3.1.1.min.js"}
		%script{type: "text/javascript", src: "vendor/underscore-min.js"}
		%script{type: "text/javascript", src: "vendor/backbone-min.js"}

		%script{type: "text/javascript", src: "assert.js"}
		%script{type: "text/javascript", src: "client_domain.js"}
		%script{type: "text/javascript", src: "client_domain_test.js"}